# Merge with a third table

# Contents
# 1. Merge dataframes
# 2. Export new table as pickle file

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# define path to data folders
path = r'/Users/alison/Documents/Data Analysis - Tasks/Instacart  Basket Analysis'

In [5]:
# get previous merged table
df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [7]:
# 4. Check the shape of the imported dataframe. Expecting (32434489, 11)
df_combined.shape

(32434489, 11)

In [9]:
# can confirm shape same as when created
# get latest products df
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [11]:
# check table dimensions. expecting (49672, 5)
df_prods.shape

(49672, 5)

# 1. Merge dataframes

In [13]:
# 5. Determine a suitable way to combine the orders_products_combined dataframe with products data set.
# can merge on product_id
# merge tables on product id, smallest first inner join
df_merged_mega = df_prods.merge(df_combined, on = 'product_id')

In [15]:
# 6. Confirm the results of the merge using the merge flag.
df_merged_mega['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
df_merged_mega.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,New_customer_flag,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,No,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,No,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,No,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,Yes,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,No,11,1,both

In [19]:
# check new table dimensions
df_merged_mega.shape

(32404859, 15)

# 2. Export new df as pickle file

In [27]:
# 7. Export the newly created dataframe as ords_prods_merge
df_merged_mega.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))